# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = mazhenir
email = mazhenir@parc.com
[alias]
co = checkout
cob = checkout -b
br = branch
st=status
